In [9]:
import pandas as pd
# specify column to be of type date: df = pd.read_csv("aapl.csv", parse_dates=["Date"])
# change index column to date: 
df = pd.read_csv("aapl.csv", parse_dates=["Date"], index_col="Date")
# df = pd.read_csv("aapl.csv")
df.head(5)

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107

In [4]:
# check type of date:
type(df.Date[0])

str

In [10]:
df.index

DatetimeIndex(['2017-07-07', '2017-07-06', '2017-07-05', '2017-07-03',
               '2017-06-30', '2017-06-29', '2017-06-28', '2017-06-27',
               '2017-06-26', '2017-06-23',
               ...
               '2016-07-22', '2016-07-21', '2016-07-20', '2016-07-19',
               '2016-07-18', '2016-07-15', '2016-07-14', '2016-07-13',
               '2016-07-12', '2016-07-11'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [15]:
# calculate the mean of Apple stock in Jan 2017
df["2017-01"].Close.mean()
# prices in the first week of January
# df["2017-01-07":"2017-01-01"]

119.57000000000001

In [ ]:
# RESAMPLING
# find the