In [3]:
import pandas as pd
# create 2016 yearly time period: A-DEC - Annual ending in December
y = pd.Period("2016")
y

Period('2016', 'A-DEC')

In [4]:
# find out all properties of the above Period function:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [6]:
# start time:
y.start_time
# end time:
# y.end_time

Timestamp('2016-01-01 00:00:00')

In [7]:
# create a MONTHLY time period by supplying a month frequency:
m = pd.Period("2016-1",freq="M")
m

Period('2016-01', 'M')

In [8]:
m.start_time

Timestamp('2016-01-01 00:00:00')

In [9]:
m.end_time

Timestamp('2016-01-31 23:59:59.999999999')

In [10]:
# performing arithmetic operations with Period objects:
m + 1

Period('2016-02', 'M')

In [13]:
# create a DAILY time period by supplying a daily frequency:
d = pd.Period("2016-02-28")
d

Period('2016-02-28', 'D')

In [14]:
d + 1

Period('2016-02-29', 'D')

In [15]:
# create an HOURLY time stamp by supplying a hourly frequency:
h = pd.Period("2016-02-28 23:00:00",freq="H")
h

Period('2016-02-28 23:00', 'H')

In [17]:
# h.start_time
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [18]:
h + 1

Period('2016-02-29 00:00', 'H')

In [20]:
# 6 hours prior to 23:00
h-6

Period('2016-02-28 17:00', 'H')

In [21]:
# 5 hours after 23:00
h+pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'H')

In [22]:
# create quarterly period:
q = pd.Period("2017Q1")
q

Period('2017Q1', 'Q-DEC')

In [23]:
q + 1

Period('2017Q2', 'Q-DEC')

In [24]:
# for a company whose fiscal year ends in January:
q_end_jan = pd.Period("2017Q1", freq="Q-JAN")
q_end_jan

Period('2017Q1', 'Q-JAN')

In [25]:
q_end_jan.start_time

Timestamp('2016-02-01 00:00:00')

In [26]:
q_end_jan.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [28]:
# convert quarterly frequency into monthly frequency: - use how
q.asfreq("M",how="start")

Period('2017-01', 'M')

In [30]:
# using periods as an index into a dataframe:
# use periods to avoid start and end_time
idx = pd.period_range("2011","2017",freq="Q")
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [32]:
# use numpy to create a series:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)),idx)
ps

2011Q1   -0.896144
2011Q2   -0.803404
2011Q3    0.825861
2011Q4    0.141337
2012Q1   -0.480345
2012Q2   -0.387613
2012Q3   -0.462408
2012Q4   -0.047227
2013Q1    1.658557
2013Q2    0.038660
2013Q3   -0.421219
2013Q4   -0.506954
2014Q1   -0.311925
2014Q2    0.960561
2014Q3   -1.566761
2014Q4   -0.507220
2015Q1   -0.594211
2015Q2   -0.125910
2015Q3   -0.512111
2015Q4    1.304126
2016Q1   -0.026212
2016Q2   -1.308904
2016Q3   -0.607076
2016Q4    2.593375
2017Q1   -0.945039
Freq: Q-DEC, dtype: float64

In [38]:
# period index
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [35]:
# periods btn 2011-2014:
ps["2011":"2014"]

2011Q1   -0.896144
2011Q2   -0.803404
2011Q3    0.825861
2011Q4    0.141337
2012Q1   -0.480345
2012Q2   -0.387613
2012Q3   -0.462408
2012Q4   -0.047227
2013Q1    1.658557
2013Q2    0.038660
2013Q3   -0.421219
2013Q4   -0.506954
2014Q1   -0.311925
2014Q2    0.960561
2014Q3   -1.566761
2014Q4   -0.507220
Freq: Q-DEC, dtype: float64

In [40]:
# convert period index to DatetimeIndex
pst = ps.to_timestamp()
pst

2011-01-01   -0.896144
2011-04-01   -0.803404
2011-07-01    0.825861
2011-10-01    0.141337
2012-01-01   -0.480345
2012-04-01   -0.387613
2012-07-01   -0.462408
2012-10-01   -0.047227
2013-01-01    1.658557
2013-04-01    0.038660
2013-07-01   -0.421219
2013-10-01   -0.506954
2014-01-01   -0.311925
2014-04-01    0.960561
2014-07-01   -1.566761
2014-10-01   -0.507220
2015-01-01   -0.594211
2015-04-01   -0.125910
2015-07-01   -0.512111
2015-10-01    1.304126
2016-01-01   -0.026212
2016-04-01   -1.308904
2016-07-01   -0.607076
2016-10-01    2.593375
2017-01-01   -0.945039
Freq: QS-OCT, dtype: float64

In [41]:
pst.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01', '2013-07-01', '2013-10-01',
               '2014-01-01', '2014-04-01', '2014-07-01', '2014-10-01',
               '2015-01-01', '2015-04-01', '2015-07-01', '2015-10-01',
               '2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [42]:
# convert DatetimeIndex back to period index:
pst.to_period()

2011Q1   -0.896144
2011Q2   -0.803404
2011Q3    0.825861
2011Q4    0.141337
2012Q1   -0.480345
2012Q2   -0.387613
2012Q3   -0.462408
2012Q4   -0.047227
2013Q1    1.658557
2013Q2    0.038660
2013Q3   -0.421219
2013Q4   -0.506954
2014Q1   -0.311925
2014Q2    0.960561
2014Q3   -1.566761
2014Q4   -0.507220
2015Q1   -0.594211
2015Q2   -0.125910
2015Q3   -0.512111
2015Q4    1.304126
2016Q1   -0.026212
2016Q2   -1.308904
2016Q3   -0.607076
2016Q4    2.593375
2017Q1   -0.945039
Freq: Q-DEC, dtype: float64

In [44]:
# convert/transpose walmart excel sheet by reshaping the columns and rows and also inserting new columns
# rows to represent period indexes...

In [45]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [46]:
df.set_index("Line Item", inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [58]:
# import csv into dataframe:
# df.T performs transpose i.e converts rows into columns and columns into rows
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [59]:
# make the irregular line item column into index: - call set_index
# convert index into period index
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [64]:
df["start date"] = df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit starrt date start date
2017Q1      115904     86544   29360  2016-02-01 2016-02-01
2017Q2      120854     89485   31369  2016-05-01 2016-05-01
2017Q3      118179     87484   30695  2016-08-01 2016-08-01
2017Q4      130936     97743   33193  2016-11-01 2016-11-01
2018Q1      117542     87688   29854  2017-02-01 2017-02-01

In [65]:
df["end date"] = df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit starrt date start date   end date
2017Q1      115904     86544   29360  2016-02-01 2016-02-01 2016-04-30
2017Q2      120854     89485   31369  2016-05-01 2016-05-01 2016-07-31
2017Q3      118179     87484   30695  2016-08-01 2016-08-01 2016-10-31
2017Q4      130936     97743   33193  2016-11-01 2016-11-01 2017-01-31
2018Q1      117542     87688   29854  2017-02-01 2017-02-01 2017-04-30