In [1]:
import pandas as pd
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df1

       city  temperature
0  new york           21
1   chicago           14
2   orlando           35

In [2]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
df2

       city  humidity
0   chicago        65
1  new york        68
2   orlando        75

In [7]:
# merge two dataframes based on city
df3 = pd.merge(df1,df2,on="city")
df3

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [10]:
# NB: use how="outer" "inner" e.t.c to do unions, intersections e.g 
# df3 = pd.merge(df1,df2,on="city", how="outer") - union of all the dfs
# inner join is default
# left - all common elements btn the two dfs and all elements in the left df
# right - like above

In [11]:
# use indicator="True" to know where the NaN after joining columns with issing values is coming from 
# df3 = pd.merge(df1,df2,on="city", how="outer", indicator="True")

In [12]:
# suffixes
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35,38],
    "humidity": [65,68,71, 75]
})
df1

        city  temperature  humidity
0   new york           21        65
1    chicago           14        68
2    orlando           35        71
3  baltimore           38        75

In [13]:
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "temperature": [21,14,35],
    "humidity": [65,68,71]
})
df2

        city  temperature  humidity
0    chicago           21        65
1   new york           14        68
2  san diego           35        71

In [15]:
# suffixes x and y are appened on column upon repetition of the columns
df3 = pd.merge(df1, df2, on="city")
df3

       city  temperature_x  humidity_x  temperature_y  humidity_y
0  new york             21          65             14          68
1   chicago             14          68             21          65

In [16]:
# to use own suffixes: '_left', '_right':
df3 = pd.merge(df1, df2, on="city", suffixes=('_left', '_right'))
df3

,city,temperature_left,humidity_left,temperature_right,humidity_right
0,new york,21,65,14,68
1,chicago,14,68,21,65