In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [7]:
df = pd.read_csv("homeprices.csv")
df.head(5)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [9]:
import math
df.bedrooms.median()
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [10]:
# fill all NaN values with the median: use fillna()
df.bedrooms.fillna(median_bedrooms)

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [13]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [14]:
# above data is now cleaned...now its set to create train a ml model:
reg = linear_model.LinearRegression()
# fit() - for training model
# independent variables: area, bedrooms, age
# dependent variable: price
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
# confirm coefficients:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [17]:
# confirm intercept:
reg.intercept_

221323.00186540408

In [20]:
# predict the price of a home whose dimensions are:
# 3000 sqr ft, 3 bedrooms, 40 years old
# y = m1x1 + m2x2 + m3x3
# price = m1 * area + m2 * bedrooms + m3 * age
prediction_h1 = math.floor(reg.predict([[3000,3,40]]))
prediction_h1

498408